<h1>Stories</h1>
<div class="row">
  {{#each stories}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          {{!-- pass in the user id of the person who's stury is displaied and the ../user going up one level to the user who is logged in > but we are in a loop so hb does not know who the global user is  --}}
          {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p>{{truncate (stripSpace (stripTags body)) 150}}</p>
          <br>
          <div class="chip">
            <img src="{{user.image}}" alt="">
            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
          </div>
          <div class="card-action center-align"></div>
          <a href="/stories/{{_id}}" class="btn grey">read more</a>
        </div>
      </div>
    </div>

  {{else}}
    <p>no stories to display</p>

  {{/each}}
</div>